<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 로깅 구현체를 SLF4J로 설정 -->
        <setting name="logImpl" value="log4j2"/>
    </settings>
</configuration>